




.FB-number-selector{
  
}

.fb_discount_text{
  font-size: 26px;
  margin: 7px;
  font-weight: 500;
  color: #595959;
}


.fb_balance{
  margin: 0 0 10px 7px;
  font-size: 18px;
  color: #595959;
}


.fb_balance_number{
  font-weight: bold;
  color:#50ad90;
}


