
.bad-payer-box{
  float:left;
  margin: 10px;
}

.fb_owes
{
  margin:10px; 
  padding:0;
}

.fb_owes p
{
  margin:0;
}



.fb_contact
{
  padding:10px; 
}

.fb_contact h4{
  font-weight: bold;
  margin:0 0 5px 0;
}

.fb_contact p{
  margin:0;
}












